.navbar {
    background-image: linear-gradient(90deg, #a7c7e7, #d1e2e9); /* Pastelowy błękit i stonowany szary */
    background-size: cover; /* Pełne pokrycie tła */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodanie lekkiego cienia */
    padding: 10px 0; /* Ustalamy odpowiednią przestrzeń w navbarze */
  }
  